.nav-item .logo {
    cursor: default;
    max-height: 3rem;
}

.hero-body {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    .title {
        margin-bottom: 2.4rem;
    }
    .title,
    .subtitle {
        cursor: default;
    }
}